/* VARIABLES */
/* Main Email Wizard Styles */
.email-wizard {
  /* HEADER */
  /* MAIN CONTENT */
  /* FOOTER */
}
.email-wizard .header {
  background-color: #0c254c;
}
.email-wizard .header .navbar {
  height: 50px;
}
.email-wizard .content {
  min-height: 700px;
  /* MENU PANEL */
  /* PREVIEW PANEL */
}
.email-wizard .content .menu {
  border: 1px solid #666666;
  bottom: 50px;
  left: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  width: 350px;
}
.email-wizard .content .menu .items {
  margin: 0;
  padding: 0;
  width: 100%;
}
.email-wizard .content .menu .items .emailItem {
  border: 1px solid #cccccc;
  cursor: pointer;
  display: table;
  float: left;
  margin: 5%;
  margin-top: 0;
  width: 42.5%;
}
.email-wizard .content .menu .items .emailItem:nth-child(1),
.email-wizard .content .menu .items .emailItem:nth-child(2) {
  margin-top: 5%;
}
.email-wizard .content .menu .items .emailItem:nth-child(even) {
  margin-left: 0;
}
.email-wizard .content .menu .items .emailItem p {
  display: table-cell;
  height: 90px;
  text-align: center;
  vertical-align: middle;
}
.email-wizard .content .preview {
  bottom: 50px;
  left: 350px;
  position: absolute;
  right: 0;
  top: 50px;
}
.email-wizard .content .preview .preview-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.email-wizard .content .preview .preview-container .canvas {
  border: 1px solid #666666;
  height: 100%;
  overflow: visible;
  width: 100%;
}
.email-wizard .footer {
  background-color: #1d365d;
  bottom: 0;
  color: #fff;
  height: 50px;
  left: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;
}
/* Embedded IFRAME Styles */
.canvas-iframe {
  background: #ccc;
  height: 1200px;
}
.canvas-iframe .content {
  background: #fff;
  min-height: 600px;
  margin: 45px auto;
  padding: 15px;
  width: 700px;
}
.canvas-iframe .content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.canvas-iframe .content ul li {
  border: 1px dashed #666666;
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
}
