
/* VARIABLES */
@primary-color: #1d365d;
@accent-color: @primary-color - #111;

@border-color: #666;
@border-accent-color: #ccc;


@base-unit: 15px;

@header-offset: 50px;
@footer-offset: 50px;

@body-height: 700px;
@iframe-height: 1200px;
@preview-height: 600px;

@menu-width: 350px;
 

/* Main Email Wizard Styles */
.email-wizard {
  
  /* HEADER */
  .header {
    background-color: @accent-color;
    
    .navbar {
      height: @header-offset;
    }
 
  }  

  /* MAIN CONTENT */
  .content  {
    min-height: @body-height;

    /* MENU PANEL */
    .menu {
      border: 1px solid @border-color;
      bottom: @footer-offset;
      left: 0;
      padding: 0;
      position: absolute;
      top: @header-offset;
      width: @menu-width;

      .items { 
        margin: 0;
        padding: 0; 
        width: 100%;       

        .emailItem {
          border: 1px solid @border-accent-color;
          cursor: pointer;
          display: table;
          float: left;
          margin: 5%;
          margin-top: 0;
          width: 42.5%;

          &:nth-child(1),
          &:nth-child(2),{
            margin-top: 5%;
          }

          &:nth-child(even){
            margin-left: 0;
          }
        
          p {
            display: table-cell;
            height: @base-unit * 6;
            text-align: center;
            vertical-align: middle;
            
          }

        }


      }

    }

    /* PREVIEW PANEL */
    .preview {
      bottom: @footer-offset;
      left: @menu-width;
      position: absolute;
      right: 0;
      top: @header-offset;

      .preview-container {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        .canvas {
          border: 1px solid @border-color;
          height: 100%;
          overflow: visible;
          width: 100%;
        }
      }
    }

  }


  /* FOOTER */
  .footer {
    background-color: @primary-color;
    bottom: 0;
    color: #fff;
    height: @footer-offset;
    left: 0;
    padding-bottom: @base-unit;
    padding-top: @base-unit;
    position: fixed;
    right: 0;
    text-align: center;
    width: 100%;
  }

}


/* Embedded IFRAME Styles */
.canvas-iframe {
  background: #ccc;
  height: @iframe-height;

  .content {
    background: #fff;
    min-height: @preview-height;
    margin: (@base-unit * 3) auto; 
    padding: @base-unit;
    width: 700px;

    ul { 
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        border: 1px dashed @border-color;
        display: block;
        margin-bottom: @base-unit;
        padding: @base-unit;
        position: relative;        
      }


    }
  }
}
